a {
    text-decoration: none;
    }
   
    .container2{
        background-color: rgb(204, 252, 204); 
        max-width: 370px;
    }
    .container2 img,
    .container2 p {
        display: inline-block;
        vertical-align: middle;
        width: 200px;
        font-size: 15px; 
        line-height: 0; 
    }
    .container2 img:first-child {
        width: 20px; /* Set the width of the first image */
        height: auto; /* Maintain aspect ratio */
    }

    .bottom {
        background-color: rgb(6, 180, 6); 
        padding: 20px; 
        display: flex;
        justify-content: space-between; 
        align-items: center;
        max-width: 330px;
        bottom: 10px; 
        position: relative; 
        top: 10px; 
    }
    .bottom img {
        width: 30px; 
        height: auto; 
    }