.main {
  margin-top: 5em;
}

.center {
  justify-content: center;
  padding: 10px;
}

.ui.search .input {
  width: 100%;
}
.ui.search .prompt {
  border-radius: 0px;
}
.ui.input > input {
  border: 1.5px solid rgba(34, 36, 38, 0.15);
}

.list > .item {
  padding: 15px 0px !important;
}

i.icon {
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.right {
  float: right !important;
}
.center-div {
  text-align: center;
}
a {
  text-decoration: none;
  }
  

h1{
  font-size: 50px;
  line-height: 2; 
}

.container img,
.container{display: flex;

  align-items: center;
  justify-content: center;}

.container p {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    font-size: 30px;
    line-height: 0.8; 
}



.container img:last-child {
    margin-right: 50px;
    margin-left: 50px; 
}

.container img:first-child {
    width: 30px; /* Set the width of the first image */
    height: auto; /* Maintain aspect ratio */
}
.container img:last-child {
    width: 25px; /* Set the width of the first image */
    height: auto; /* Maintain aspect ratio */
}

.container1 img,
.container1 p {
    display: inline-block;
    vertical-align: top;
    width: 600px;
    font-size: 30px;
    line-height: 0.8; 
}


.container1 img:last-child {
    margin-right: 0px; 
}

.container1 img:first-child {
    width: 30px; /* Set the width of the first image */
    height: auto; /* Maintain aspect ratio */
}
.container1 img:last-child {
    width: 25px; /* Set the width of the first image */
    height: auto; /* Maintain aspect ratio */
    float: "left";
}



.container2{
        background-color: rgb(204, 252, 204); 
        max-width: 500px;
    }
    .container2 img,
    .container2 p {
        display: inline-block;
        vertical-align: middle;
        width: 400px;
        font-size: 25px; 
        line-height: 1; 
    }
    .container2 img:first-child {
        width: 20px; /* Set the width of the first image */
        height: auto; /* Maintain aspect ratio */
    }
  
.styled-button {
      background-color: transparent; /* Transparent background */
      color: lightgreen; /* Light green font color */
      padding: 15px 30px; /* Padding for the button */
      font-size: 18px; /* Larger font size */
      border: 2px solid lightgreen; /* Add border */
      border-radius: 5px; /* Add border radius */
      cursor: pointer; /* Change cursor to pointer */
     
  }
  input[type="text"] {
      padding: 10px; /* Padding for the input */
      border: 2px solid lightgreen; /* Light green border */
      border-radius: 5px; /* Add border radius */
      background-color: white; /* White background */
      color: black; /* Black text color */
      width:300px;
  }

  .mapboxgl-marker {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border:1px solid gray;
    background-color:lightblue;
    background-size: cover;
}

.marker {
  
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
}

.fav {
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.card.restaurant {
  background-color: rgb(207, 207, 207);
  margin-bottom: 3px;
  padding: 10px;
}
.card.food {
  color: white; 
  background-color: grey; 
  padding: 10px; 
  margin-bottom: 1px;
}
.card.nutrition {
  justify-content: flex-start;
}
.invisible-placeholder {
  visibility: hidden;
  margin: 10px;
}

.selector_heading {
  font-size: medium;
}

.selector_section {
  /* padding: 10px; */
  margin-top: 5px;
}

.selector_section .button {
  margin: 5px;
}
