.main {
  margin-top: 5em;
}

.center {
  justify-content: center;
  padding: 10px;
}

.ui.search .input {
  width: 100%;
}
.ui.search .prompt {
  border-radius: 0px;
}
.ui.input > input {
  border: 1.5px solid rgba(34, 36, 38, 0.15);
}

.list > .item {
  padding: 15px 0px !important;
}

i.icon {
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.right {
  float: right !important;
}
.center-div {
  text-align: center;
}


.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
}

.fav {
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.card.restaurant {
  background-color: rgb(207, 207, 207);
  margin-bottom: 3px;
  padding: 5px;
}
.card.food {
  color: white; 
  background-color: grey; 
  padding: 3px; 
  margin-bottom: 1px;
}
.card.nutrition {
  justify-content: flex-start;
}
.invisible-placeholder {
  visibility: hidden;
  margin: 10px;
}
.selector_section {
  padding: 10px;
}

.selector_section .button {
  margin: 5px;
}
